body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818; /* Dark background color */
    color: #eaeaea; /* Light foreground text color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282828; /* Slightly lighter than body background for contrast */
    border-radius: 8px;
}

nav {
    background-color: #222; /* Dark gray background */
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Darker shadow for contrast */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ccc; /* Lighter color for links */
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff; /* Pure white on hover for more contrast */
}

footer {
    background-color: #222; /* Dark gray background for footer */
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
}

#chatBox {
    max-width: 800px;
    max-height: 4000px;  /* Adjust this value as needed */
    margin: 50px auto;
    border: 1px solid #444; /* Darker border for chatbox */
    padding: 20px;
    background-color: #282828; /* Same as .container for consistency */
    border-radius: 10px;
    overflow: auto;
    width: 100%;
}


#userInput, #aiConfig {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222; /* Dark gray background for input elements */
    color: #eaeaea; /* Light foreground text color for input */
}

#inputWrapper {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: #282828; /* Consistent with other container elements */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Slightly darker shadow for contrast */
}

form label {
    display: block;
    margin-bottom: 25px;  /* Increased from 15px */
}

form label span, form label select, form label input, form label textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

ul#savedPresets {
    max-width: 600px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

ul#savedPresets li {
    padding: 10px;
    border: 1px solid #444; /* Darker border for list items */
    margin-top: 10px;
    border-radius: 5px;
    background-color: #282828; /* Consistent background for items */
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

b {
    font-weight: bold;
}

div {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

textarea[name="system_prompt"] {
    width: 100%;  /* Adjust this to your desired width */
    height: 200px; /* Adjust this to your desired height */
}

textarea[name="temp_instructions"] {
    width: 100%;  /* Adjust this to your desired width */
    height: 200px; /* Adjust this to your desired height */
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #007BFF;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007BFF;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    cursor: pointer;
    background: #e0e0e0;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    cursor: pointer;
    background: #e0e0e0;
    border-radius: 5px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;

}

.logout-button {
    padding: 5px 15px;
    background-color: #f44336;  /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #da190b;  /* Darker red on hover */
}

.config-btn {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    background-color: #f4f4f4;
    color: #222;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.config-btn:hover {
    background-color: #ddd;
}

.config-btn:active, .active-config {
    background-color: #096c22;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;  
    left: 50%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

