{% extends "base.html" %}

{% block content %}
<h1>Prata med en AI</h1>

Här kan du prata med en AI. Välj en AI-konfiguration från listan nedan och skriv in ditt meddelande i rutan. 
Tryck på "Send" för att skicka meddelandet till AI:n. AI:n kommer att svara med ett meddelande som du kan läsa i chatten. 
Notera att AI:n inte alltid svarar på ett meningsfullt sätt, och att det den säger inte nödvändigtvis är sant.

<div id="inputWrapper">

    <label for="aiConfig">Välj AI-konfiguration:</label>
    <div id="configButtons">
        {% for config in system_configs %}
            <div class="tooltip">
                <button class="config-btn" onclick="selectConfig('{{ config.id }}', '{{ config.name }}')">{{ config.name }}</button>
                <span class="tooltiptext">{{ config.description }}</span>
            </div>
        {% endfor %}
    </div>
    

    <div id="chatBox">
        <!-- Chat messages will be appended here -->
    </div>

    <textarea id="userInput" placeholder="Type your message..."></textarea>
    <button onclick="submitQuestion()">Send</button>
    <button id="endSessionBtn">End Session</button>

</div>


{% endblock %}

{% block scripts %}
<script>    
    var reminder = {{ reminder|tojson|safe }};
    var currentUsername = "{{ username }}";  // Pass the username to JavaScript
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
