{% extends "base.html" %}

{% block content %}
<h1>Edit Configuration</h1>

<form action="{{ url_for('edit_configure', preset_id=preset.id) }}" method="post">
    <label>
        Preset Name:
        <input type="text" name="preset_name" required value="{{ preset.name }}">
    </label>
    <label>
        Choose AI Model:
        <select name="ai_model">
            <option value="gpt-3.5-turbo" {% if preset.ai_model == "gpt-3.5-turbo" %}selected{% endif %}>GPT-3.5 Turbo</option>
            <option value="gpt-4" {% if preset.ai_model == "gpt-4" %}selected{% endif %}>GPT-4</option>
        </select>
    </label>
    <label>
        System Prompt:
        <textarea name="system_prompt" placeholder="Enter system prompt">{{ preset.system_prompt }}</textarea>
    </label>
    <label>
        Temperature:
        <input type="range" name="temperature" min="0" max="1" step="0.01" value="{{ preset.temperature }}" oninput="updateValue(this, 'tempValueEdit')" title="Adjust the randomness of the AI's responses. Lower values make the output more deterministic, while higher values make it more random.">
        <span id="tempValueEdit">{{ preset.temperature }}</span>
    </label>
    <label>
        Top P:
        <input type="range" name="top_p" min="0" max="1" step="0.01" value="{{ preset.top_p }}" oninput="updateValue(this, 'topPValueEdit')" title="Adjust the nucleus sampling. Controls the diversity of the AI's responses. Lower values can make the output more focused and higher values can increase diversity.">
        <span id="topPValueEdit">{{ preset.top_p }}</span>
    </label>        
    <button type="submit">Update Configuration</button>
</form>
{% endblock %}
